extends layout

block content
  
  h1 My todos
  form#add(onsubmit="return false")
    input(id="input-name")
    br
    input(id="input-task") 
    br
    button(id="submit-data") add
    

  form#nameSearch(onsubmit="return false")
    br
    input#search-name
    br
    button(id="search") search

  button#delete-user delete user

  




